@model Wordle

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <form asp-action = "Index" method="post">
            <br/>Enter Word:<input asp-for="input"/>
            <p> 1:@ViewBag.s1  2:@ViewBag.s2 3:@ViewBag.s3 4.@ViewBag.s4 5:@ViewBag.s5</p>
        </form>
    </p>
</div>
