@model AnswerCourier
@{
    ViewData["Title"] = "Wordle";
}

<div class="text-center">
    <p>
        <h1>WORDLE</h1>
        <form asp-action = "Index" method="post">
            <br/>
            <label asp-for="answer">Input the answer</label>
            <input asp-for="answer"/>
            <button type="submit">Enter</button>
        </form>
    </p>
</div>
