@model Wordle

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <form asp-action = "Index" method="post">
            <br/>1:<input asp-for="slot1"/>
            <br/>1:<input asp-for="slot2" />
            <br/>1:<input asp-for="slot3" />
            <br/>1:<input asp-for="slot4" />
            <br/>1:<input asp-for="slot5" />
        </form>
    </p>
</div>
